* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100vh;
    /* om het randje om de gordijnen weg te halen */
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(dimgray, #2d2a2a, #171616);
    overflow: hidden;
}

/***************/
/* UI Stack: loading state */
/***************/
#preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 5em;
    height: 5em;
    margin: -75px 0 0 -75px;
    border: 0.7em solid whitesmoke;
    border-radius: 50%;
    border-top: 0.7em ridge goldenrod;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading_state {
    display: none;
    -webkit-animation-name: loadingstate;
    -webkit-animation-duration: 1s;
    animation-name: loadingstate;
    animation-duration: 1s
}

@-webkit-keyframes loadingstate {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes loadingstate {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

h1,
h2 {
    font-family: 'Ewert', cursive;
}

/***************/
/* het gordijn */
/***************/
.gordijn_stuk {
    position: absolute;
    width: 50%;
    /* Elk gordijn stuk neemt de helft van de container in */
    height: 100%;
    top: 0;
    /* Plaatst de gordijn stukken bovenop de random film */
    /* Nodig om de z-index te bepalen */
    z-index: 50;

    border-radius: 0 0 60px 60px;
    /* om de tekst in het midden te zetten */
    display: flex;
    align-items: center;

    transform: translateX(0);
    /* Animates the sliding transition */
    transition: transform 1s ease-out;
}

.gordijn_stuk.links {
    left: 0;
    /* Styling voor het sliden van het linkerstuk */
    /* dit heb je nodig als een tekst over meer regels loopt */
    /* https://css-tricks.com/stripes-css/ */
    background:
        repeating-linear-gradient(-90deg,
        #c23232 0, #c23232 4em,
        firebrick 4em, firebrick 8em);
}

.gordijn_stuk.rechts {
    right: 0;
    /* Styling voor het sliden van het rechterstuk */
    /* dit heb je nodig als een tekst over meer regels loopt */
    text-align: left;
    /* https://css-tricks.com/stripes-css/ */
    background:
        repeating-linear-gradient(90deg,
        firebrick 0, firebrick 4em,
        #c23232 4em, #c23232 8em);
}

/* de tekst op het gordijn */
h1 {
    font-size: 2.6vw;
    color: gold;
    display: flex;
}

/************************************/
/* Wanneer de body class tada heeft */
/************************************/

/* Het linker gordijn stuk schuift naar buiten */
body.tada .gordijn_stuk.links {
    transform: translateX(calc(-100% + 90px));
}

/* Het rechter gordijn stuk schuift naar buiten */
body.tada .gordijn_stuk.rechts {
    transform: translateX(calc(100% - 90px));
}


/***********/
/* de film */
/***********/
main {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 25;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.1em;
}

article > h2 {
    text-align: center;
    font-size: 2em;
    color: mediumturquoise;
    margin: 0;
}

article > p {
    text-align: center;
    font-style: italic;
    color: white;
}

/* flipcontainer */
article > div {
    position: relative;
    width: 50%;
    z-index: 80;
}

/* de poster */
article > div > img {
    display: block;
    border: 20px ridge goldenrod;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
    backface-visibility: hidden;
}

/* de details */
article > div > div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 1em;
    color: whitesmoke;
    background-color: #171616;
    border: 20px ridge goldenrod;
    font-size: 0.8em;
    font-style: italic;

    transition: transform 1s ease-in-out;
    transform: rotateY(-180deg);

    backface-visibility: hidden;
}

/* flipcontainer - hover */
article > div:hover > img {
    transform: rotateY(180deg);
}

article > div:hover > div {
    transform: rotateY(0);
}


/*****************/
/* de spotlights */
/*****************/
.spotlight {
    animation: top-right 5s ease-in-out infinite alternate;
    /* Duur van 5s voor speels en realistisch effect */
    border-bottom: none;
    border-left: solid 20vh transparent;
    border-right: solid 20vh transparent;
    border-top: solid 190vh rgba(247, 204, 96, 0.3);
    bottom: -2.5em;
    height: 0;
    left: 0;
    position: absolute;
    transform-origin: bottom;
    /* Rotatie vindt plaats vanaf het midden van de bottom */
    width: 0;
    z-index: 40;
}

.spotlight + .spotlight {
    animation: top-left 4s ease-in-out infinite alternate;
    /* Duur van 4s voor speels en realistisch effect */
    left: auto;
    right: 0;
}

@keyframes top-right {
    0% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(70deg);
    }
}

@keyframes top-left {
    0% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-70deg);
    }
}



/********************/
/* credits na keydown */
/********************/
.container {
    margin: 0 auto;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    padding-bottom: 800px;
}

.container-hidden {
    display: none;
}

ul li {
    list-style: none;
}

li {
    margin: 3.5em 0;
}

.credits {
    font-size: 1em;
    color: whitesmoke;
    text-shadow: 0 -3px 7px blue, 0 2px 7px red;
    margin: 0 40%;
    -webkit-animation: schuifnamen 12s linear infinite;
    -moz-animation: schuifnamen 12s linear infinite;
    animation: schuifnamen 12s linear infinite;
}

.credits span {
    display: block;
    margin: 5px 0;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes schuifnamen {
    0% {
        margin-top: 800px;
    }

    100% {
        margin-bottom: -100px;
        transform: translateY(-115%);
    }
}

@-moz-keyframes schuifnamen {
    0% {
        margin-top: 800px;
    }

    100% {
        margin-bottom: -100px;
        transform: translateY(-115%);
    }
}

@-o-keyframes schuifnamen {
    0% {
        margin-top: 800px;
    }

    100% {
        margin-bottom: -100px;
        transform: translateY(-115%);
    }
}

keyframes schuifnamen {
    0% {
        margin-top: 800px;
    }

    100% {
        margin-bottom: -100px;
        transform: translateY(-115%);
    }
}

.afsluiten {
    position: relative;
    margin-top: 2em;
    width: 32vw;
    height: 6vh;
    background: darkolivegreen;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: goldenrod ridge 8px;
    left: 50%;
    transform: translate(-50%, -50%)
}

.afsluiten:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 20px;
    border-color: darkolivegreen transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    top: -20px;
    left: 15%;
}

.afsluiten:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 18px 23px;
    border-color: goldenrod transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -18px;
    top: -27px;
    left: 15%;
}


.afsluiten p {
    position: absolute;
    font-size: 0.8vw;
    color: whitesmoke;
    margin: 6px 0 5px 7px;
}
